/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
.page {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  width: 100vw;
  height: 100vh;
}

/* Header y Footer */
header, footer {
  padding: 20px;
  background-color: #3498db;
  color: white;
  text-align: center;
}
header {
  min-height: 15%;
}
footer {
  min-height: 5%;
}

/* Contenedor principal */
#section-container{
  display: flex;
  justify-content: center;
  max-width: 100%;
  background-color: #ecf0f1;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}


/* Navegación, contenido y barra lateral */


nav {
  position: sticky;
  min-width: 20%;
  max-height: 20vh;
  padding: 20px;
  background-color: #2ecc71;
  ul{
    list-style: none;
    font-size: 14px;
  }
}

main {
  background-color: #ecf0f1;
  width: 60%;
  max-width: 60%;
  padding: 10px;
}

aside {
  position: sticky;
  min-width: 20%;
  max-height: 20vh;
  box-sizing: border-box;
  padding: 20px;
  background-color: #e74c3c;
  order: 1;
  ul{
    list-style: none;
    font-size: 14px;
  }
}

#es{
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2{
    margin:20px 0 10px 0;
    font-size: 24px;
  }
  p{
    font-size: 14px;
  }
}


@media screen and (max-width: 768px) {
  #section-container{
    display: flex;
    height: max-content;
    width: 100%;
  }
  .container {
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;
  }
  nav, main, aside {
    max-width: 100%;
  }
  main{
    width: 100%;
    order: 2;
  }
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100vw;
    h1{
      font-size: 1.5em;
    }
    h2,h3{
      padding: 5px 0;
      font-size: 0.8em;
    }
  }
  aside, nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    ul{
      font-size: 14px;
      padding: 0;
    }
  }
  footer{
    display: flex;
    height: 5vh;
    width: 100vw;
    padding: 0;
    padding-top: 10px;
    p{
      width: 100%;
      text-align: center;
      padding: 0;
    }
  }
  
}